{% extends 'core/base.html' %}
{% load static %}

{% block title %}
PortalMedic - Lista de Pacientes
{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Historia Clínica Paciente Completa</h1>
    
    <div class="text-right mb-3">
        <a href="{% url 'core:index' %}" class="btn btn-primary">Volver a HOME</a>
    </div>
    
    {% for paciente in pacientes %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">Apellido y Nombre: {{ paciente.apellido }} {{ paciente.nombre }}</h3>
        </div>
        <div class="card-body">
            <p class="card-text">Historia Clínica: {{ paciente.historiaClinica }}</p>
            <a href="{% url 'pacientes:pacientes_update' pk=paciente.id %}" class="btn btn-warning">Modificar Historia Clínica</a>
        </div>
    </div>
    {% endfor %}
    
    <div class="text-right mt-4">
        <a href="{% url 'core:index' %}" class="btn btn-secondary">Volver a Página Principal</a>
        <a href="{% url 'pacientes:pacientes_list' %}" class="btn btn-secondary">Volver a Listado de Médicos</a>
    </div>
</div>
{% endblock content %}