{% block title %}
PortalMedic - Lista de Pacientes
{% endblock title %}
{% block content %}
        <h1>Listado de pacientes PortalMedic</h1>
        <button><a href="{% url 'core:index' %}">Volver a HOME</a></button>
    
        {% for paciente in pacientes %}
        <ul>
            <li><h3>{{ paciente }}</h3></li>
            <p>Apelldido: {{ paciente.apellido }}</p>
           {% if paciente.nacionalidad %}
                <p>País de origen: {{ paciente.nacionalidad }}</p>
            {% else %}
                <p>País de origen: "No hay registro"</p>
            {% endif %}
        </ul>
    {% endfor %}
{% endblock content %}