{% block title %}
PortalMedic - Lista de Pacientes
{% endblock title %}
{% block content %}
        <h1>Historia Clínica Paciente completa</h1>
        <button><a href="{% url 'core:index' %}">Volver a HOME</a></button>
    
        {% for paciente in pacientes %}
        <ul>
            <li></li>
            <h3>Apelldido y Nombre: {{ paciente.apellido }} {{ paciente.nombre }}</h3>
            <br>
            <table>
                <p>Historia Clínica: {{ paciente.historiaClinica }}</p>
                
            </table>
        </ul>
    {% endfor %}
    <button><a href="core:index">Volver a Pagina Pricipal</a></button>
    <button><a href="medicos:medicos_list">Volver a Listado de Médicos</a></button>
{% endblock content %}