{% extends 'core/base.html' %}
{% block title %}
    PortalMedic - Eliminar
{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <p class="fs-10 fst-italic text-center">¿Confirma eliminar <span class="fs-4 fw-bold">{{object.apellido}}, {{ object.nombre }}</span>?</p>
            <div class="d-flex justify-content-between">
              <form method="GET" class="me-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </form>
              <a href="{% url 'medicos:index' %}" class="btn btn-secondary">Retornar a Página Principal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}