{% extends 'core/base.html' %}

{% block title %}
    {% if form.instance.pk %}
    PortalMedic | Edición
    {% else %}
    PortalMedic | Creación
    {% endif %}
    
{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="form-title">CREAR / EDITAR</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

